*
  box-sizing: border-box;

.container
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;

.container-small
  max-width: 960px
  margin: 0 auto

body
  background-color: #eee
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

.page__body
  padding: 20px 10px;
