*
  box-sizing: border-box;

.container
  max-width: 1020px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;

body
  background: linear-gradient(to bottom, #fff, #eee);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
