/* @import 'bootstrap'; */
@import 'jeet';

@require('./base');
@require('./mixin');

@require('./elements/budget-label');
@require('./elements/money-banner');
@require('./elements/header');
@require('./elements/footer');


.hero
  background-image: url('../images/home_hero.png');
  margin: 20px 0;
  height: 560px;
  bg-img();
