.stick
  // position: relative

.frozen .stick__image
  // background-attachment: fixed

.stick__image
  height: 800px
  bg-img()

.stick__content
  position: relative
  height: 580px
  bg-img()
  background-image: url('/assets/images/contract-new.png')
  background-position: left top

  .extra-image
    position: absolute
    top: -250px
    left: 10%

.stick__content--comment
  overflow: hidden
  background-image: url('/assets/images/comment.png')

  .extra-image
    top: 0px
    left: auto
    right: 10%

.component-stickybox > * {
  width: 100%;
  padding: 0;
  margin:0;
}

.component-stickybox.frozen > * {
  position: fixed;
  top: 0;
  z-index: -1
}
