.display
  background-color: #fff
  padding-bottom: 20px

.display__title
  margin: 0
  padding: 70px 0 50px
  text-align: center
  color: p-blue

.products,
.partners
  cf()
  max-width: 1000px
  margin: 0 auto

.products__unit
  cf()

  .product
    col(1/4)
    text-align: center

.product
  .desc
    color: p-blue-dark
    margin: 20px 0

.btn--product
  @extend .btn
  @extend .btn-primary
  background-color: p-blue
  border-color: p-blue
  font-size: 24px
  border-radius: 20px;
  padding: 2px 22px;

.partners__unit
  col(1/6)

  img
    filter: grayscale(100%);
    width: 100%

  a
    &:hover
      img
        filter: grayscale(0);

.display__content--partners
  margin-bottom: 30px
