.display
  background-color: #fff
  padding-bottom: 20px

.display__title
  margin: 0
  padding: 70px 0 20px
  text-align: center
  color: p-blue

.products
  max-width: 1000px
  margin: 0 auto

.products__unit
  cf()

  .product
    col(1/4)
    text-align: center

.product
  .desc
    color: p-blue-dark
    margin: 20px 0

.btn--product
  @extend .btn
  @extend .btn-primary
  background-color: p-blue
  border-color: p-blue
  font-size: 24px
  border-radius: 20px;
  padding: 2px 22px;
