.home-page__footer
  cf();
  font-size: 12px;
  border-top: 2px solid #eee;
  padding: 18px 0;
  margin: 0 auto;
  max-width: 970px;

.footer-head,
.footer-legal__state
  font-weight: bold;

.footer-head
  width: 100px;
  float: left;

.footer-legal
  float: left;

.footer-head h3
  margin: 0;

.footer-legal__state
  margin-bottom: 10px;

.footer-legal__desc  p
    margin: 0;
    color: #888;
