.home-page__footer
  font-size: 12px;
  border-top: 2px solid #eee;
  padding-top: 12px;

.footer-head,
.footer-legal__state
  font-weight: bold;

.footer-head
  width: 100px;
  float: left;

.footer-legal
  float: left;

.footer-head h3
  margin: 0;
