.home-page__header
  position: relative;
  padding: 20px;
  border-bottom: 1px solid darkcyan;

.site-nav__list
  list-style: none;

.site-nav__item
  padding: 0 10px;

.logo,
.site-nav,
.site-nav__item
  display: inline-block;

.site-nav
  position: absolute;
  right: 0;
  top: 40px;
