.home-page__header
  position: relative;
  color: #555;
  border-bottom: 1px solid #395F91;
  overflow: hidden;

.site-nav__list
  margin: 0;
  line-height: 70px;
  list-style: none;



.site-nav__item
  padding: 0 10px;
  position: relative;

  &:after
    border-right: 1px solid #777;
    content: "";
    position: absolute;
    right: 0;
    top: 28px;
    display: block;
    height: 13px;

  &:last-child
     margin-right:-10px


  &:nth-child(2),
  &.site-nav__item--search
    &:after
      border: none;


  a
    font-size: 14px;
    color: #777;
    text-decoration: none;

    &:hover
      color: #444;

.logo,
.site-nav,
.site-nav__item
  display: inline-block;

.site-nav
  position: absolute;
  right: 0;

.logo h1
  font-weight: 400;

.site-nav__item--search
  margin-right: 20px;

  // input
  //   padding: 6px 12px;
  //   color: #555;
  //   border: 1px solid #ccc;
  //   border-radius: 15px;
  //   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  //   &:focus
  //     border-color: #66afe9;
  //     outline: 0;
  //     box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);

