.slogan
  padding-top: 70px
  max-width: 450px
  float: right
  margin-right: 14%
  text-align: right
  p
    margin: 0

  .more
    display: block
    margin-top: 30px
    font-size: 30px

.slogan__title
  font-size: 80px

.slogan__desc
  font-size: 30px

.slogan__desc--add
  padding-right: 140px
  font-size: 48px


