@require('../elements/header');
@require('../elements/footer');
@require('../elements/carousel');
@require('../elements/contract');
@require('../elements/display');

.hero
  background-image: url('../images/home_hero.png');
  margin: 20px 0;
  height: 560px;
  bg-img();

