.revision__details
  col(1/4);
  margin-top: 15px;
  padding-right: 30px;

.revision__body
  col(3/4);
  .news-element
    width: 100%;

.revision-bar
  position: relative;
  .em
    color: #A82D2D;
    height: 200px;
    border-right: 2px solid #81B8D2;
    position: absolute;
    right: 0;
    top: 5px;

.revision-bar__unit
  text-align: right;
  position: relative;
  line-height: 20px;
  padding-right: 20px;
  top: 20px;
  margin-right: 10px;
  margin-bottom: 30px;

  &:hover
    background-color: #efefef;
    border-radius: 5px;

  .name
    margin-left: 17px;
    color: #787878;
    font-size: 13px;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 10px;
    cursor: pointer;

  .dot
    position: absolute;
    width: 8px;
    height: 8px;
    top: 10px;
    right: -13px;
    background-color: #477857;
    border-radius: 20%;
