.version__body
  col(2/3);

.version__tag
  col(1/3);
  text-align: center;
  padding: 15px;

  button
    margin-bottom: 20px

.news-container--revision
  .news-element
    col(1/2);

.btn--tag
  @extend .btn-primary;
  padding: 10px;
  width: 100%;

.btn--add
  @extend .btn-danger;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
